<mat-card>
    <mat-card-header>
      <div mat-card-avatar orange600></div>
      <mat-card-title-group>
        <div layout="column">
          <div *ngIf="taskDto.done"><s>{{taskDto.title}}</s></div>
          <div *ngIf="!taskDto.done">{{taskDto.title}}</div>
          <div *ngIf="taskDto.startTime">{{taskDto.startTime}}</div>
          <div>{{taskDto.description}}</div>
        </div>
        <span class="spacer"></span>
        <ng-container matSuffix>
          <button mat-button *ngIf="!taskDto.important" (click) = "addToFavorite()">
            <mat-icon>favorite_border</mat-icon>
          </button>
          <button mat-button *ngIf="taskDto.important" color="warn" (click)="removeFromFavorite()">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-button style="color: green;" *ngIf="taskDto.done" (click) = "setUnDone()">
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-button  *ngIf="!taskDto.done" (click) = "setDone()">
            <mat-icon>radio_button_unchecked</mat-icon>
          </button>
          <div style="float: right;">
            <button mat-button (click) = "editTask(taskDto.id)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </ng-container>
      </mat-card-title-group>
    </mat-card-header>
</mat-card>


<!-- <mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div layout="column">
      <div *ngIf="taskDto.done"><s>{{taskDto.title}}</s></div>
      <div *ngIf="!taskDto.done">{{taskDto.title}}</div>
      <div *ngIf="taskDto.startTime">{{taskDto.startTime}}</div>
      <div>{{taskDto.description}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <ng-container style="float: right;">
      <button mat-button *ngIf="!taskDto.important" (click) = "addToFavorite()">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-button *ngIf="taskDto.important" color="warn" (click)="removeFromFavorite()">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-button style="color: green;" *ngIf="taskDto.done" (click) = "setUnDone()">
        <mat-icon>check_circle</mat-icon>
      </button>
      <button mat-button  *ngIf="!taskDto.done" (click) = "setDone()">
        <mat-icon>radio_button_unchecked</mat-icon>
      </button>
      <div>
        <button mat-button (click) = "editTask(taskDto.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </ng-container>
  </mat-grid-tile>
</mat-grid-list> -->