<!-- <div *ngIf="categories?.length == 0">
    <h4>No Tasks found!</h4>
    <h4> Create a new Category to start !</h4>
  </div>
  <div class="mt-2 mb-2 mr-2 ml-2" *ngFor="let category of categories">
      <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{category.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{category.description}}
                <label>{{category.taskList?.length}}</label>
              </mat-panel-description>
            </mat-expansion-panel-header>
            
            <div *ngFor = "let task of category.taskList">
                <app-task-element [taskDto] = "task" [category] = "category"></app-task-element>
            </div>
            
        
          </mat-expansion-panel>
      </mat-accordion>    
  </div>    
   -->